.action_buttons{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 100%;
}
.task_buttons{
    margin-left: 5px;
    color: rgb(226, 224, 224);
}
.task_buttons:hover{
    cursor: pointer;
    color:rgb(7,200,205);
}
.tooltip_container{
    display: flex;
    flex-direction: column;
}
.tooltip{
    background-color: black;
    color: white;
    padding: 5px;
    position: absolute;
    transform: translateY(-30px) translateX(-6px);
    z-index: 1;
    visibility: hidden;
    font-size: 13px;
    box-shadow: 2px 2px 10px 2px rgb(173, 173, 173);
}
.tooltip::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: black;
    bottom: -5px;
    z-index: 2;
    transform: translateX(80%) rotate(45deg);
}
.tooltip_container:hover .tooltip{
    visibility: visible;
}