#input_form{
    display: flex;
}
#input_form > input{
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;   
    color: black;
    margin-left: 25px;
}

/* button to add new standard */
.add_button{
    width: 100%;
    background-color: #337AB7;        
    border-radius: 5px;
    color: white;    
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
.add_button > p{
    font-size: 18px;    
}
.add_button:hover{
    cursor: pointer;
}